.slideshow-section {
  position: relative;
  width: 100%;
  max-width: 100rem;
  margin: auto;
  overflow: hidden;

  padding: 3.2rem 0 6.4rem 0;
}

.image-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.image-wrapper img {
  width: 100%;
  flex-shrink: 0;
}

.slideshow-control {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 1rem; */
}

.slideshow-btn {
  color: var(--icon-color-2);
  border: none;
  background: none;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.slideshow-btn:hover {
  color: var(--icon-color-1);
}

.slideshow-btn:last-child {
  /* border-left: 0.1rem solid var(); */
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dot {
  height: 1rem;
  width: 1rem;
  border: 0.1rem solid var(--icon-color-2);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active-dot {
  background-color: var(--icon-color-2);
}

.dot.active-dot:hover {
  background-color: var(--icon-color-1);
  border: 0.1rem solid var(--icon-color-1);
}

.dot:hover {
  border: 0.1rem solid var(--icon-color-1);
}
