.gallery-item {
  overflow: hidden;
  margin-bottom: 1.6rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.card-name {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 1.2rem;
}

.card-price {
  font-size: 1.4rem;
  color: #333;
}
